{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}My Apps{% endblock %}

{% block content %}
<h1>My Apps</h1>
<div>
    {% if clients %}
    <table class="data">
        <tr>
            <th>Name</th>
            <th colspan="2">Credentials</th>
            <th></th>
        </tr>
        {% for client in clients %}
        <tr>
            <td rowspan="2"><a href="/apps/{{ client.client_id }}">{{ client.name }}</td>
            <td class="right">Client ID:</td>
            <td class="left">{{ client.client_id }}</td>
            <td rowspan="2">
                <form method="post" action="/accounts/apps/">{% csrf_token %}
                    <input type="hidden" name="client_id" value="{{ client.client_id }}" />
                    <input type="submit" value="Remove" class="btn" />
                </form>
            </td>
        </tr>
        <tr>
            <td class="right">Secret:</td>
            <td class="left">{{ client.client_secret }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>You have no clients. Use the form below to create a client.</p>
    {% endif %}
</div>

<div>
    <h1>Create a new client</h1>
    <form method="post" class="form-inline">
        {{ form|crispy }}
        <input type="submit" value="Create" class="btn btn-primary btn-fixed-width" />
    </form>
</div>
{% endblock %}
